<p>
  <b>Name:</b>
  <%=h @semester.name %>
</p>

<p>
  <b>St date:</b>
  <%=h @semester.st_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @semester.end_date %>
</p>


<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>